# THIS FILE IS NOT NEEDED IF .env IS PRESENT IN ROOT

DATABASE_URL=postgresql://user:password@localhost:5432/gallery

# Localstack
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_ENDPOINT=http://localhost:4566
S3_BUCKET=gallery-bucket

# AWS S3 (cloud)
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION=
# S3_BUCKET=your_bucket_name